# 注意: torch版本cuda版本需要和系统的系统安装的cuda版本一样
# WSL 建议安装python3.12

# 可选
paho-mqtt
websocket-client
websocket
# 推理库 可选
tensorrt
onnx
onnxruntime-gpu
filterpy
scipy
# 必须安装
freetype-py
pycryptodome
getmac
flask
future
shapely
pyyaml
requests
opencv-python >= 4.10.0.84 # cuda(need videocodec) or no cuda
scikit-image
torch